.Chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}

.top {
    position: fixed;
    z-index: 99999;
    top: 13px;
    right: 16px;
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #eceaea;
}

.login button {
    font-size: 20px;
    border: none;
    padding: 5px 9px;
    border-radius: 7px;
}

.login button:hover {
    background-color: #cdcdcd;
}

/* Chatview */
.chatView {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 28px;
}

.chatView h2 {
    margin-top: 172px;
    font-size: 30px;
    margin-bottom: 60px;
}

.inputDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: 60px;
    border-radius: 80px;
    border: 1px solid #d7d5d5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.inputDiv input {
    border: none;
    width: 650px;
    height: 40px;
    font-size: 20px;
    outline: none;
    margin-left: 5px;
    line-height: 42px;
    /* text-align: center; */
}

.inputDiv span {
    margin-left: 20px;
}

.inputDiv button {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 9px;
    border-radius: 21px;
    border: none;
}

.inputDiv .puton {
    margin-right: 20px;
    font-size: 24px;
    background-color: #cac7c7;

    padding: 10px;
}

/* 消息列表 */
.msgList {
    height: 80%;
    padding: 5px 22px;
}

.message {
    width: 100%;
    display: flex;

}

.msgList .message:nth-child(2n+1) {
    justify-content: flex-end;
}

.message span {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 20%;
}